.login {
  text-align: center;
  width: 30%;
  position: absolute;
  top: 15%;
  left: 35%;
  padding-bottom: 10px;
  border-radius: 3px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.login > .outlined_basic {
  width: 90%;
  margin: 8px;
}
.avatar{
  margin-top: 20px;
  margin-left: 165px;
 

}

